.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    // position: relative;
  

    &__span{
        display: inline;
        color: var(--color-white);
        font-size: 4.5rem;
        font-weight: var(--font-weight);

         @media only screen and (max-width:56.25em){
             font-size: 3rem;
         
    }  

     @media only screen and (max-width:44.5em){
             font-size: 3.5rem;
         
    }  

         @media only screen and (max-width:25em){
             font-size: 1.7rem;
         
    }  
    }

    &__list{
    list-style: none;
    display: flex;
    gap: 3rem;
    padding: 1rem 4rem;
    border: 1px solid var(--color-white);
    border-radius: 100px;
    background-color: #333;
    font-family: var(--font-body);
    box-shadow: var(--shadow-1);

    @media only screen and (max-width: 62.5em) {
     flex-direction: column;
     background: none;
     border: none;
     align-items: center;
     justify-content: center;
     box-shadow: 0 0 0 0;
  }


    
    }

    &__link{
        &:link,
        &:visited,
        &:active{
            display: inline-block;
            text-decoration: none;
            text-transform: capitalize;
            color: var(--color-white);
            font-size: 2rem;
             
        }
    }

       &__buttons{
         display: flex;
         align-items: center;
         gap: 2rem;
         display: none;
    }

       &__btn{
        &:link,
        &:visited,
        &:active{
          display: inline-block;
            text-decoration: none;
            text-transform: capitalize;
            color: var(--color-white);
            font-size: 1.5rem;   
            background-color: #333;
            padding: 1rem 2rem;
             border-radius: 100px;
        }
    }

    &__signup{
        &:link,
        &:visited,
        &:active{
          display: inline-block;
            text-decoration: none;
            text-transform: capitalize;
            color: var(--color-black);
            font-size: 1.5rem;   
            background-color: var(--color-white);
            padding: 1rem 2rem;
             border-radius: 100px;
        }
    }



/* ====== Toggle Buttons ====== */
// .mobile-nav{
//   border: none;
//   background: none;
//   display: none;
//   cursor: pointer;
// }

// .mobile-nav-icon{
//   width: 4rem;
//   height: 4rem;
//   color: #000;
// }

// .mobile-nav-icon[name="close-outline"] {
//   display: none;
// }

    /*************MOBILE NAV********************/
    @media only screen and (max-width: 62.5em) {
      .header__overlay{
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         opacity: 0;
         pointer-events: none;
         visibility: hidden;
         transform: translateX(100%);
         background-color: rgba(0,0,0, 0.75);
         backdrop-filter: blur(5px);
         transition: all 0.3s ease-in-out;
         z-index: 1000;
  }  
    }
  
    @media only screen and (max-width: 62.5em) {
    .header__nav{
      position: absolute;
      top: 0;
      right: 0;
      width: 70%;
      height: 60vh;
      background-color: var(--text-primary);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease;
      transform: translateX(100%); // hidden offscreen
      z-index: 1001;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
    }  

    // When .nav-open is on .header
  @media only screen and (max-width: 62.5em) {
    &.nav-open {
      .header__overlay {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }

      .header__nav {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
}

}