.heading-1{
    font-size: 5rem;
    font-family: var(--font-heading);
    font-weight: 600;
    color: var(--color-white);
    text-transform: capitalize;
    word-spacing: 0.2rem;
    margin-bottom: 1rem;
    text-shadow: 0 20px 12px #000;
    animation:moveTop  2s;
    animation-iteration-count: 1;

      @media only screen and (max-width:56.25em){
      font-size: 3.5rem;
    }

     @media only screen and (max-width:44.75em){
      font-size: 3rem;
    }

      @media only screen and (max-width:31.25em){
      font-size: 2.5rem;
    }

    @media only screen and (max-width:25em){
       text-align: center;
    }
    
}

.heading-2{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--font-body);
    text-align: center;

     @media only screen and (max-width:56.25em){
      font-size: 2rem;
    }

     @media only screen and (max-width:44.75em){
      font-size: 1.8rem;
    }

     @media only screen and (max-width:31.25em){
       font-size: 1.6rem;
       font-weight: 600;
    }

}

.heading-3{
    margin-bottom: 3px;
    font-family: var(--font-heading);
}